/.consulo
/.vs
/.vscode
/Assembly-CSharp-Editor.csproj
/Assembly-CSharp.csproj
/Game.sln
/InputSystem.Samples.Visualizers.csproj
/Library
/Logs
/obj
/Packages
/ProjectSettings
/Temp
/UserSettings
/Unity.InputSystem.InGameHints.csproj
/Unity.InputSystem.RebindingUI.csproj
/Unity.InputSystem.Recorder.csproj
/UnityEngine.InputSystem.Samples.UIvsGameInput.csproj